@import url("https://fonts.googleapis.com/css2?family=Amita:wght@700&family=Bad+Script&family=Courgette&family=Julee&display=swap");
html {
  min-height: 100%;
  position: relative;
}

.navbarbrand {
  font-size: 26px;
  font-family: "Julee", cursive;
}

.jumbotron {
  background-color: #f19491;
  background-size: 100%;
  text-align: center;
  font-size: 30px;
  letter-spacing: 0.2em;
  color: black;
  font-family: "Julee", cursive;
}

.jumbotron h2 {
  font-family: "Julee", cursive;
}

form .btn {
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid black;
  padding: 10px;
  font-size: 16px;
  font-family: "Julee", cursive;
  margin: 10px;
}

form .btn:hover {
  color: #333;
  background: white;
}

form .searchInput {
  border-radius: 5px;
  border: 2px solid black;
  padding: 10px;
  font-size: 16px;
  font-family: "Julee", cursive;
  width: 60%;
  min-width: 100px;
  max-width: 350px;
}

form .searchInput:focus {
  outline: 0;
  color: black;
  background: white;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
}

body {
  background: lightsteelblue;
}

#content {
  padding-bottom: 80px;
}

#movies .col-md-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 400px;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  font-family: "Julee", cursive;
}

#movies .col-md-3 img {
  width: 100%;
  height: 200px;
}

#movies .col-md-3 h5 {
  margin-top: 10px;
  padding-top: 10px;
  height: 75px;
  font-family: "Julee", cursive;
}

#movies .col-md-3 a {
  font-family: "Julee", cursive;
  padding: 10px;
}

#movies .col-md-3 .well {
  padding-bottom: 30px;
}

#movie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 400px;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  font-family: "Julee", cursive;
  padding-bottom: 80px;
}

#movie img {
  width: 100%;
}

#movie h2 {
  font-family: "Julee", cursive;
  text-align: center;
  padding: 20px;
}

#movie p {
  font-family: "Courgette", cursive;
  text-align: center;
  font-size: 18px;
  padding: 20px;
}

#movie .list-group, #movie .go-back {
  font-family: "Courgette", cursive;
}

#movie .imdb-view {
  font-family: "Julee", cursive;
}

.col-md-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #97b1d3;
  padding-top: 10px;
}

.footer .fixd-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .fixd-bottom span {
  font-family: "Courgette", cursive;
  font-size: 18px;
  text-decoration: none;
}

@media (min-width: 1200px) {
  #movies {
    margin-bottom: 30px;
  }
  #movies .col-md-3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 900px;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-family: "Julee", cursive;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 30px;
    margin: 20px 0;
  }
  #movies .col-md-3 .well {
    height: 450px;
  }
  #movies .col-md-3 img {
    width: 90%;
    height: 240px;
  }
}

@media (min-width: 320px) {
  #movies .col-md-3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 370px;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-family: "Julee", cursive;
  }
  #movies .col-md-3 img {
    width: 70%;
  }
  h5 {
    height: 50px;
  }
  #movie img {
    padding-top: 30px;
  }
}
/*# sourceMappingURL=style.css.map */